parameters:
    paths: .
    level: 6
    scanFiles:
        - /home/runner/work/Heimdall-Apps/Heimdall-Apps/heimdall/app/SupportedApps.php
        - /home/runner/work/Heimdall-Apps/Heimdall-Apps/heimdall/app/EnhancedApps.php
