---
name: PR Checks

on:
  pull_request:
    branches: [master]

jobs:
  test_all_apps:
    name: Test all Apps
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [20]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup node env
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}

      - name: Run App Tests
        run: node testRunner.js
